:root {
    --cor-primaria: #003399; /* Cor Primária */
    --cor-secundaria: #333535; /* Cor Secundária */
    --cor-apoio: #ffffff; /* Cor de Apoio */
    --fonte-titulo: 'Ubuntu', sans-serif; /* Fonte para títulos */
    --fonte-paragrafo: 'Montserrat', sans-serif; /* Fonte para parágrafos */
}

/* Estilos Globais */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body {
    background-color: var(--cor-apoio);
    color: var(--cor-secundaria);
    line-height: 1.6;
}

a {
    color: var(--cor-primaria);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--cor-secundaria);
}

/* Cabeçalho */
header {
    background-color: var(--cor-primaria);
    color: var(--cor-apoio);
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Botões */
.button, .button-primary, input[type="submit"], input[type="button"], a.button {
    background-color: var(--cor-primaria);
    color: var(--cor-apoio);
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover, .button-primary:hover, input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
    background-color: var(--cor-secundaria);
}

/* Seção Principal */
.main {
    padding: 4rem 0;
    text-align: center;
}

.main h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.main p {
    font-size: 1.6rem;
}

/* Rodapé */
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-apoio);
    padding: 2rem 0;
    text-align: center;
}

/* Media Query */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    .button, .button-primary, input[type="submit"], input[type="button"], a.button {
        padding: 0.8rem 1.5rem;
        font-size: 1.4rem;
    }

    .main h2 {
        font-size: 2rem;
    }

    .main p {
        font-size: 1.4rem;
    }
}
