/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defina suas cores personalizadas aqui */
:root {
    --cor-primaria: #003399;
    --cor-secundaria: #333535;
    --cor-apoio: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-apoio);
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: var(--cor-apoio);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--cor-secundaria);
}

.main-content {
    background-color: var(--cor-apoio);
    padding: 20px;
    text-align: center;
}

.main-content h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-apoio);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--cor-secundaria);
}

.secondary-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-apoio);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: var(--cor-primaria);
}
